<section class="section section--banner">
  <div class="container">
    <div class="banner">
      <div class="banner-image">
        <picture>
          <source srcset="img/banner.avif" type="image/avif">
          <source srcset="img/banner.webp" type="image/webp">
          <img loading="lazy" src="img/banner.png" class="image" width="695" height="690" alt="Crypto">
        </picture>
      </div>
      <div class="banner-content">
        <h1 class="banner-content__title">
          Buy Crypto Now, to Get Rich In The Future
        </h1>
        <p class="banner-content__description">
          Crypto.qu is more than just a Crypto trading platform. It’s the best place to learn about crypto.
        </p>
        <button class="btn-reset btn btn--secondary banner-content__btn">
          Get Started
        </button>
      </div>
    </div>
  </div>
</section>
