<section class="section section--featured" id="featured">
  <div class="container">
    <div class="featured">
      <h2 class="title featured__title">
        <span>Featured</span> on
      </h2>
      <div class="featured__brands" data-aos="slide-right" data-aos-delay="50" data-aos-duration="1000">
        <a href="#">
          <img src="img/svg/brand-1.svg" alt="Coindesk" width="262" height="51">
        </a>
        <a href="#">
          <img src="img/svg/brand-2.svg" alt="Cointelegraph" width="310" height="61">
        </a>
        <a href="#">
          <img src="img/svg/brand-3.svg" alt="Reuters" width="250" height="74">
        </a>
        <a href="#">
          <img src="img/svg/brand-4.svg" alt="CoinTracker" width="220" height="83">
        </a>
      </div>
    </div>
  </div>
</section>
