<section class="section section--featured" id="featured">
  <div class="container">
    <div class="featured">
      <h2 class="title featured__title">
        <span>Featured</span> on
      </h2>
      <div class="featured__brands">
        <a href="#">
          <img src="img/svg/brand-1.svg" alt="Coindesk">
        </a>
        <a href="#">
          <img src="img/svg/brand-2.svg" alt="Cointelegraph">
        </a>
        <a href="#">
          <img src="img/svg/brand-3.svg" alt="Reuters">
        </a>
        <a href="#">
          <img src="img/svg/brand-4.svg" alt="CoinTracker">
        </a>
      </div>
    </div>
  </div>
</section>
