<header class="header header--main">
  <div class="container">
    <div class="header-wrapper">
      <div class="header-left">
        <a class="header-left__logo" href="/"><img src="img/logo.svg" alt="Crypto"></a>
        <nav class="nav header-left__nav">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="/" class="nav__link nav__link--active">Home</a></li>
            <li class="nav__item"><a href="#featured" class="nav__link">Featured</a></li>
            <li class="nav__item"><a href="#service" class="nav__link">Service</a></li>
            <li class="nav__item"><a href="#pricing" class="nav__link">Pricing</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-right">
        <div class="header-right__language select__language">
          <select name="Language" id="header__select" class="header__select">
            <option value="Eng">Eng</option>
            <option value="Uk">Uk</option>
          </select>
        </div>
        <a href="#" class="btn btn__login header-right__btn" data-graph-animation="custom" data-graph-path="first">Login</a>
      </div>
    </div>
  </div>
</header>
