<section class="section section--cryptoList">
  <div class="container">
    <div class="cryptoList">
      <div class="cryptoList-image">
        <picture>
          <source srcset="img/list_crypto.avif" type="image/avif">
          <source srcset="img/list_crypto.webp" type="image/webp">
          <img loading="lazy" src="img/list_crypto.png" class="image" width="823" height="520" alt="CryptoList">
        </picture>
      </div>
      <div class="cryptoList-content">
        <h2 class="cryptoList-content__title">
          <span>List of Crypto</span> You Can Buy on Crypto.qu
        </h2>
        <p class="cryptoList-content__description">
          Crypto.qu is more than just a Crypto trading platform. It is the best place to buy, sell, trade and learn about crypto.
        </p>
        <button class="btn-reset btn cryptoList-content__btn">
          See more
        </button>
      </div>
    </div>
  </div>
</section>
