<section class="section pricing--section" id="pricing">
  <div class="container">
    <div class="pricing">
      <h2 class="pricing__title">
        Choose <span>Pricing</span> for Join our Membership
      </h2>
      <p class="pricing__description">
        We offer the best deals for our membership.
      </p>
      <div class="pricing-content pricing-tabs" data-tabs="tab">
        <ul class="pricing-tabs__nav tabs__nav list-reset">
          <li class="pricing-tabs__nav-item"><button class="pricing-tabs__nav-btn tabs__nav-btn btn-reset" type="button">Yearly</button></li>
          <li class="pricing-tabs__nav-item"><button class="pricing-tabs__nav-btn tabs__nav-btn btn-reset" type="button">Monthly</button></li>
        </ul>
        <div class="tabs__content pricing-tabs__content">
          <div class="pricing-tabs__panel pricing-tabs__panel--year tabs__panel">
          </div>
          <div class="pricing-tabs__panel pricing-tabs__panel--month tabs__panel">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
