<section class="section pricing--section" id="pricing">
  <div class="container">
    <div class="pricing">
      <h2 class="pricing__title">
        Choose <span>Pricing</span> for Join our Membership
      </h2>
      <p class="pricing__description">
        We offer the best deals for our membership.
      </p>
      <div class="pricing-content pricing-tabs" data-tabs="tab">
        <ul class="pricing-tabs__nav tabs__nav list-reset">
          <li class="pricing-tabs__nav-item"><button class="pricing-tabs__nav-btn tabs__nav-btn btn-reset" type="button">Yearly</button></li>
          <li class="pricing-tabs__nav-item"><button class="pricing-tabs__nav-btn tabs__nav-btn btn-reset" type="button">Monthly</button></li>
        </ul>
        <div class="tabs__content pricing-tabs__content">
          <div class="pricing-tabs__panel tabs__panel">
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Free <span>💵</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>0</span><sub>/ year</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Group Consulting</p>
                <p>Updated News</p>
                <p>2 Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Basic <span>💸</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>50</span><sub>/ year</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Group Consulting</p>
                <p>Updated News</p>
                <p>4 Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item pricing-tabs__item--special">
              <h5 class="pricing-tabs__item-title">Premium <span>🤑</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>100</span><sub>/ year</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Personal Consulting</p>
                <p>Updated News</p>
                <p>5+ Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset btn--secondary pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Unlimited <span>💰</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>170</span><sub>/ year</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Personal Mentor</p>
                <p>Updated News</p>
                <p>All Trade Features Unlocked</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
          </div>
          <div class="pricing-tabs__panel tabs__panel">
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Free <span>💵</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>0</span><sub>/ month</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Group Consulting</p>
                <p>Updated News</p>
                <p>2 Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Basic <span>💸</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>20</span><sub>/ month</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Group Consulting</p>
                <p>Updated News</p>
                <p>4 Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item pricing-tabs__item--special">
              <h5 class="pricing-tabs__item-title">Premium <span>🤑</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>50</span><sub>/ month</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Personal Consulting</p>
                <p>Updated News</p>
                <p>5+ Kinds of Crypto Portfolio</p>
              </div>
              <button class="btn btn-reset btn--secondary pricing-tabs__item-buy">Get Now</button>
            </article>
            <article class="pricing-tabs__item">
              <h5 class="pricing-tabs__item-title">Unlimited <span>💰</span></h5>
              <h3 class="pricing-tabs__item-price"><sup>$</sup><span>50</span><sub>/ month</sub></h3>
              <div class="pricing-tabs__item-benefits">
                <p>Personal Mentor</p>
                <p>Updated News</p>
                <p>All Trade Features Unlocked</p>
              </div>
              <button class="btn btn-reset pricing-tabs__item-buy">Get Now</button>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
