<section class="section section--reviews">
  <div class="container">
    <div class="reviews">
      <div class="reviews-info">
        <h2 class="reviews-info__title">
          What our Million Smart <span>User Says.</span>
        </h2>
        <p class="reviews-info__description">
          More than one million users trust us to sell, buy, and trade the cryptocurrencies in Crypto.qu
        </p>
        <button class="btn btn-reset reviews-info__btn">See More</button>
      </div>
      <div class="reviews-content">
        <div class="tabs reviews-tabs" data-tabs="tab2">
          <ul class="tabs__nav reviews-tabs__nav list-reset">
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--1">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-1.avif" type="image/avif">
                  <source srcset="img/reviews-1.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-1.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--2">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-2.avif" type="image/avif">
                  <source srcset="img/reviews-2.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-2.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--3">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-3.avif" type="image/avif">
                  <source srcset="img/reviews-3.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-3.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--4">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-4.avif" type="image/avif">
                  <source srcset="img/reviews-4.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-4.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--5">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-5.avif" type="image/avif">
                  <source srcset="img/reviews-5.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-5.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
            <li class="tabs__nav-item reviews-tabs__nav-item reviews-tabs__nav-item--6">
              <button class="tabs__nav-btn btn-reset reviews-tabs__nav-btn" type="button">
                <picture>
                  <source srcset="img/reviews-6.avif" type="image/avif">
                  <source srcset="img/reviews-6.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-6.jpg" class="image" width="100" height="100" alt="Thumb">
                </picture>
              </button>
            </li>
          </ul>
          <div class="tabs__content reviews-tabs__content">
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-1.avif" type="image/avif">
                  <source srcset="img/reviews-1.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-1.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text clamp">“This is really for millennials. Not complicated, informative but clean. Fluid is also a transition. The investment manager does a lot. Now only avrist, pinnacle, simas, majoris.” </p>
                <h6 class="reviews-article__comment-author">Ronald Thomas</h6>
              </div>
            </div>
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-2.avif" type="image/avif">
                  <source srcset="img/reviews-2.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-2.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text">“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.” </p>
                <h6 class="reviews-article__comment-author">Curtis Ryan</h6>
              </div>
            </div>
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-3.avif" type="image/avif">
                  <source srcset="img/reviews-3.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-3.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text">“Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur” </p>
                <h6 class="reviews-article__comment-author">Kory Parks</h6>
              </div>
            </div>
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-4.avif" type="image/avif">
                  <source srcset="img/reviews-4.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-4.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text">“Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur” </p>
                <h6 class="reviews-article__comment-author">Joseph Ryan</h6>
              </div>
            </div>
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-5.avif" type="image/avif">
                  <source srcset="img/reviews-5.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-5.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text">“Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.” </p>
                <h6 class="reviews-article__comment-author">Robert Singleton</h6>
              </div>
            </div>
            <div class="tabs__panel reviews-tabs__panel reviews-article">
              <div class="reviews-article__img">
                <picture>
                  <source srcset="img/reviews-6.avif" type="image/avif">
                  <source srcset="img/reviews-6.webp" type="image/webp">
                  <img loading="lazy" src="img/reviews-6.jpg" class="image" width="425" height="490" alt="Author">
                </picture>
              </div>
              <div class="reviews-article__comment">
                <p class="reviews-article__comment-text clamp">“These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.” </p>
                <h6 class="reviews-article__comment-author">Angelina Jelly</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
